# IDE
.idea

# Builds
/build
/dist

# Custom
/src/common/constants/environment.js

# Dependency directories
node_modules
jspm_packages

# unit tests
/unit-tests
/code-coverage

# Optional npm cache directory
.npm
/npm-debug.log
