.login {
  position: relative;
  width: 450px;
  height: 325px;
  overflow-y: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
}

.login-paper {
  width: 850px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

#login_button.mdl-button {
  margin: 12px 0 0 0;
}

.login-header {
  padding: 25px 0 10px 0;
  color: rgb(68, 138, 255);
}